<div id="<%= dom_id email %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= email.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subject:</strong>
    <%= email.subject %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= email.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sent:</strong>
    <%= email.sent %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Views:</strong>
    <%= email.views %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this email", email, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this email', edit_email_path(email), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
